#todoitem-container {
    background-color: #f4f4f4;
}

#todoitem {
    padding: 10px;border-bottom: 1px #ccc solid;
}

.completed {
    text-decoration: line-through;
}

.incomplete {
    text-decoration: none;
}

#delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}