#add-todo-container {
    flex: 10;
    padding: 5px;
    display: flex;
}

#create-btn {
    background-color: green;
    color: white;
    float: right;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 100px;
}

#todo-text-area {
    flex: 1;
    border: none;
    margin-right: 20px;
}